spring:
  profiles: default
  datasource:
    url: jdbc:h2:mem:local
    username: sa
  jpa:
    hibernate:
      ddl-auto: create
  #    properties:
  #      hibernate:
  #        show_sql: true
  #        format_sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
logging:
  level:
    com:
      mapfap:
        spez: INFO
    org:
      hibernate:
        SQL: DEBUG
#        type:
#          descriptor:
#            sql:
#              BasicBinder: TRACE
---
spring:
  profiles: prod
  datasource:
    hikari:
      connectionTimeout: 2000
      maximumPoolSize: 5
    url: jdbc:postgresql://localhost:5432/commerce
    username: postgres
    password: root